<header class="main-header">
  <h1>Eleventy Template</h1>
  <ul>
    <li><a href="/pagina-1">pagina 1</a></li>
    <li><a href="/pagina-2">pagina 2</a></li>
    <li><a href="/pagina-3">pagina 3</a></li>
  </ul>
</header>